aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.10
frozenlist==1.3.0
idna==3.3
iniconfig==1.1.1
multidict==6.0.2
packaging==21.3
pluggy==1.0.0
-e git+https://github.com/cospectrum/pubmed-scraper.git@3b766ad27116ed7948febd36248133eed268fe0e#egg=pubmed_scraper
py==1.11.0
pyparsing==3.0.7
pytest==6.2.5
pytest-asyncio==0.18.1
requests==2.27.1
soupsieve==2.3.1
toml==0.10.2
urllib3==1.26.8
yarl==1.7.2
